---
import BaseLayout from '../../layouts/BaseLayout.astro';
import siteConfig from '../../data/site-config';
import Subscribe from '../../components/Subscribe.astro';
---

<BaseLayout title="Community" description="Ways I've helped out the QA community" showHeader={false}>
    <h1 class="mb-12 text-2xl leading-tight font-serif sm:mb-16 sm:text-4xl">Community</h1>
    <p>Coming soon...</p>
    <Subscribe class="my-16 sm:my-24" />
</BaseLayout>
