---
import { getCollection, type CollectionEntry } from 'astro:content';
import BaseLayout from '../layouts/BaseLayout.astro';
import Button from '../components/Button.astro';
import Hero from '../components/Hero.astro';
import ProjectPreview from '../components/ProjectPreview.astro';
import siteConfig from '../data/site-config';
import { sortItemsByDateDesc } from '../utils/data-utils';

const projects = (await getCollection('projects')).sort(sortItemsByDateDesc);
const featuredProjects = projects.filter(({ data }: CollectionEntry<'projects'>) => data.isFeatured);
---

<BaseLayout description={siteConfig.description} image={siteConfig.image}>
    <Hero />
    {
        featuredProjects?.length > 0 && (
            <div class="mb-16 sm:mb-24">
                <h1 class="mb-12 text-2xl leading-tight font-serif sm:mb-16 sm:text-4xl">Projects</h1>
                {featuredProjects.map((project: CollectionEntry<'projects'>) => (
                    <div class="card p-5 sm:p-6 mb-10 sm:mb-12">
                        <ProjectPreview project={project} headingLevel="h3" />
                    </div>
                ))}
                <div class="mt-12 sm:mt-16">
                    <Button variant="primary" href="/projects">
                        View All Projects
                    </Button>
                </div>
            </div>
        )
    }
</BaseLayout>
